<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="practicePkg1.OpenFBPage"/>
      <class name="practicePkg2.OpenGooglePage"/>
      <class name="practicePkg3.OpenYahooPage"/>
      <class name="practicePkg4.OpenGmailPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
